@media (min-width: 481px) and (max-width: 800px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
    .navbar-toggler {
        display: none !important;
    }

    .navbar-nav {
        flex-direction: row !important;
    }
}
body.tablet {
    overflow-x: hidden;
}
.site-header,
main#contenido-principal,
.site-footer {
    max-width: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}
